{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="left"></h1>
  <h1 align="left">Parts</h1>
  <table class="table table-striped" id="notes">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Model/Serial #</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for note in user.notes %}
      <tr>
        <td>{{ note.name }}</td>
        <td>{{ note.model }}</td>
        <td>{{ note.amount }}
          <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endblock %}